{% load static %}
<li>
    <div class='svg-wrapper'>
        <svg viewBox='0 0 800 800'>
            <title>Animated SVG</title>
            <defs>
                <clipPath id='cd-image-1'>
                    <path id='cd-morphing-path-5' d='M795.796,389.851L410.149,4.204c-5.605-5.605-14.692-5.605-20.297,0L4.204,389.851 c-5.605,5.605-5.605,14.692,0,20.297l385.648,385.648c5.605,5.605,14.692,5.605,20.297,0l385.648-385.648 C801.401,404.544,801.401,395.456,795.796,389.851z'/>
                </clipPath>
            </defs>
            {% if profile.picture %}
            <image height='800px' width='800px' clip-path='url(#cd-image-5)' xlink:href={% url 'photo' profile.user.username %}></image>
            {% else %}
            <image height='800px' width='800px' clip-path='url(#cd-image-5)' xlink:href={% static 'images/default_icon.jpg' %}></image>
            {% endif %}
            <use xlink:href='#cd-morphing-path-5' class='cover-layer' />
        </svg>
    </div> <!-- .svg-wrapper -->
</li>
