{% extends 'login_basepage.html' %}


{% block title %}
	<title> Log In </title>
	{% load static from staticfiles %}
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}





{% block content %}
<script src="{% static 'js/forgetpassword.js' %}"></script>
<div class="container">
	<div class="infopwd">
    	<h2><strong>Password Recover</strong></h2>
	</div>
	<div class="form">
	{% for error in form.non_field_errors %}
		<p class = "errormessage">
			{{error}}
		</p>
	{% endfor %}
		<div class="forceColor"></div>
			<div class="topbar">
			<form>
				<input name="username" class="input" id="username" placeholder="Username" required>
					<!-- {{form}} -->
				<span class="submit" id="send-button">Send Email</span>
				<!--{% csrf_token %}-->
			</form>
		</div>
	</div>
	<div class="text">
	    <p><strong>Don't have an account? <a href="{% url 'register' %}">Register</a></strong></p>
    </div>
</div>
<input type="hidden" name="next" value="{{ next }}" />
{% endblock %}
