<!DOCTYPE html>
{% load static %}
<html >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="apple-touch-icon" sizes="76x76" href="http://demos.creative-tim.com/material-kit/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="http://demos.creative-tim.com/material-kit/assets/img/favicon.png">
	 <!--Materialize Compiled and minified CSS -->
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

	{% block js %}
	{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Courgette" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- <link href="{% static 'css/loggedin.css' %}" rel="stylesheet"> -->
<!--  	<link href="http://demos.creative-tim.com/material-kit/assets/css/demo.css" rel="stylesheet"> -->
<!-- 	<link href="http://demos.creative-tim.com/material-kit/assets/css/material-kit.css" rel="stylesheet"> -->
	{% block title %}
	{% endblock %}

	<script src="{% static 'bootstrap/docs/assets/js/ie-emulation-modes-warning.js' %}"></script>

</head>


<body>

<nav class="navbar navbar-fixed-top custom-navbar navbar-transparent navbar-color-on-scroll" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">LINTEREST</a>


		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/linterest/" class="smoothScroll">HOME</a></li>
				<li><a href="/linterest/profile/{{request.user}}" class="smoothScroll">Profile</a></li>
				<li><a href="/linterest/edit-profile/{{request.user}}" class="smoothScroll">Edit Profile</a></li>
				<li><a href="{% url 'logout' %}" class="smoothScroll">Log Out</a></li>

			</ul>
		</div>
	</div>
</nav>

	{% block content %}
	{% endblock %}

	<!-- Bootstrap core JavaScript ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="{% static 'bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js' %}"></script>
	<script>
	$(document).scroll(function() {
		if ($(this).scrollTop() > 100) {
			$('.custom-navbar').attr('style', 'background-color:rgba(192,192,192,0.3)');
		} else {
			$('.custom-navbar').css('background-color', 'transparent');
		}
	});
	</script>

	<!-- Materialize Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
</body>
</html>
