.single {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.post_content{
  margin-left: 50px;
}
.custom-navbar {
    background: #4B4B4B;
    margin-bottom: 0;
    transition: 0.2s all linear;
}



.custom-navbar .navbar-brand  {
  color: #00c6d7;
  font-weight: 300;
  font-size: 35px;
  /*font: 400 2.5em/125% 'Courgette', Helvetica, Sans-serif;*/
  font-family:  "Comic Sans MS", cursive, sans-serif;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #00c6d7;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
    }
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    /*font: 400 1.5em/125% 'Courgette', Helvetica, Sans-serif;*/
    font-family: 400 1.5em/125% "Comic Sans MS", cursive, sans-serif;
    }
.custom-navbar .nav li a:hover {
    background: transparent;
   color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
.custom-navbar .nav li.active > a {
      color: #00c6d7;
    }
.custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar {
        background: #00c6d7;
        border-color: transparent;
    }
@media(min-width:768px){
.custom-navbar {
        background: #4B4B4B;
        padding: 10px;
        border-bottom: 0;
        background: 0 0;
     }
.custom-navbar.top-nav-collapse {
        padding: 8px;
        background: #4B4B4B;
    }
}


/* for filter */
#post-form{
    /* position: relative;*/ /* Enable absolute positioning for children and pseudo elements */
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width:1000px;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
/*    border: 2px solid rgba(255, 255, 255, 0.5);*/
    /* background: inherit;*/
    border-radius: 12px;
}



#post-form input{
  padding: 5px 5px;
  margin:7px;
  border-color: grey;
}

#post-button{
    /*  padding: 10px 20px;
    width: 10%;*/
    padding: 7.5px 50px;
    margin: 7px;
    font-size: 1.2rem;
    font-family: 'Raleway';
    font-weight: 200;
    /*  display: block;*/
    color: black;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    cursor: pointer;
}


select{
  padding-left: 10px;
  width: 120px;
  height: 100%;
  margin: 10px;
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  border-radius:1px;
  background: transparent;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;


}


input{
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);

}


#post-form div{
  background: transparent;
  border: 4px #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 12px;
  transition: all 0.4s ease-in-out;
}


#post-form span:hover{
  background: #00c6d7;
  border-color: transparent;
}


#like{
  padding: 10px;
  background: url(https://abs.twimg.com/a/1446686284/img/t1/web_heart_animation.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  height: 80px;
  width: 100px;
  left: 100px;
  top: 100px;
  border: none;
  margin-left: 30%;

}
#like:hover {
  -webkit-animation: play 1s steps(7) ; 
}
@-webkit-keyframes play {
  0% { background-position: 0px 0px; }
  100% { background-position: -2800px 0px; }
}



#username{
  font-weight: bold;
  font-size: 20px; 
}
#username a{
  color: black;
}
#username a:hover {
    color: blue;
}

#time{
  font-size: 12px;
}


#event{
  font-weight: bold;
}

.small_profile_picture {
    height: 200;
    object-fit: contain;
}

img {height:200px;}

img[class] {
    width: 100%;
}

.img-layout {
    float: left;
    width: 100%;
    margin: 0 30px 20px 0;
}

.wrapper > .header {
  min-height: 300px;
  background-position: center center;
  background-size: cover;
}
.profile-page .brand {
  margin-top: 18%;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Courgette', Helvetica, Sans-serif;
}
.main-raised {
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 16px 24px 2px, rgba(0, 0, 0, 0.117647) 0px 6px 30px 5px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
    margin: -100px 90px 0px;
    border-radius: 6px;
}

.main {
    position: relative;
    z-index: 3;
    background: rgb(255, 255, 255);
}

.header-filter {
  position: relative;
}
.header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
}
.header-filter .container {
  z-index: 2;
  position: relative;
}

.profile-page .header {
  height: 380px;
  background-position: top center;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}


.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
footer {
  padding: 15px 0;
}
footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  color: inherit;
/*  padding: 15px;*/
  /*font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;*/
  margin-right: 20px;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: block;
  color:black;
}
footer ul li a:hover {
  text-decoration: none;
}
footer .copyright {
  padding: 15px 0;
}
footer .copyright .material-icons {
  font-size: 18px;
  position: relative;
  top: 3px;
}

/* materialize toast */
.toast{box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)}
#toast-container{display:block;position:fixed;z-index:10000}
@media only screen and (max-width: 600px){#toast-container{min-width:100%;bottom:0%}}@media only screen and (min-width: 601px) and (max-width: 992px){#toast-container{left:5%;bottom:7%;max-width:90%}}@media only screen and (min-width: 993px){#toast-container{top:10%;right:7%;max-width:86%}}.toast{border-radius:2px;top:0;width:auto;clear:both;margin-top:10px;position:relative;max-width:100%;height:auto;min-height:48px;line-height:1.5em;word-break:break-all;background-color:#323232;padding:10px 25px;font-size:1.1rem;font-weight:300;color:#fff;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
